@page
@model Transport.App.Frontend.Pages.ListarGeneroModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de Genero</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secundary" asp-page="/Usuario/Genero/CrearGenero">Crear Nuevo Genero</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblGenero" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>DESCRIPCION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genero in Model.generos)
            {
                <tr>
                    <td>@genero.Id</td>
                    <td>@genero.Descripcion</td>
                    <td>
                         <a class="btn btn-primary table-btn" asp-page="./EditarGenero" asp-route-Id="@genero.Id">
                            <i class="fas fa-addrees-book fa-lg" aria-hidden="true">Editar</i>
                        </a>

                        <a class="btn btn-primary table-btn" asp-page="./#">
                            <i class="fas fa-info-circle">Eliminar</i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>