@page
@model Transport.App.Frontend.Pages.ListarGeneroModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de Genero</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secundary" asp-page="/Usuario/Genero/CrearGenero">Crear Nuevo Genero</a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">DESCRIPCION</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genero in Model.generos)
            {
                <tr>
                    <td>@genero.Id</td>
                    <td>@genero.Descripcion</td>
                    <td>
                         <a class="btn btn-primary table-btn" asp-page="./EditarGenero" asp-route-Id="@genero.Id">
                            <i class="fas fa-addrees-book fa-lg" aria-hidden="true">Editar</i>
                        </a>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@genero.Id">
                            <button class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>