@page
@model Transport.App.Frontend.Pages.ConsultarrUsuarioModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <h1>CONSULTANDO USUARIOS</h1>
</head>
<body>
    

    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese Id" aria-label="Ingrese Id" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Consultar</button>
    </div>

</body>
</html>