@page
@model Transport.App.Frontend.Pages.MenuUsuarioModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Transport.App.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Transport.App.Frontend.styles.css" asp-append-version="true" />
</head>
<body>

        
    <table class="container">
        <div>
            
                
                <li>
                    <a class="btn btn-light table-btn" asp-page="/Usuario/CrearUsuario"><i class="fas fa-info-circle"></i>Crear Usuario</a>
                </li>
                <li>
                    <a class="btn btn-light table-btn" asp-page="/Usuario/ConsultarUsuario"><i class="fas fa-info-circle"></i>Consultar Usuario</a>
                </li>
                <li>
                    <a class="btn btn-light table-btn" asp-page="/Usuario/ModificarUsuario"><i class="fas fa-info-circle"></i>Modificar Usuario</a>
                </li>
                <li>
                    <a class="btn btn-light table-btn" asp-page="/Usuario/EliminarUsuario"><i class="fas fa-info-circle"></i>Eliminar Usuario</a>
                </li>
                <li>
                    <a class="btn btn-light table-btn" asp-page="/Usuario/ListarUsuario"><i class="fas fa-info-circle"></i>Listar Usuarios</a>
                </li>
            
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Transport.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>