@page
@model Transport.App.Frontend.Pages.ListarVehiculoModel
@{
    ViewData["Title"] = "Listdo de Vehiculos";
} 
<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de Vehiculo</h2>
        </div>
        <div class="col-3">
            <a class="btn btn-secundary" asp-page="">Crear Nuevo Tipo Vehiculo</a>
        </div>
    </div>
</div>