@page
@model Transport.App.Frontend.Pages.ModificarVehiculoModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1>MODIFICANDO VEHICULOS </h1>
</head>
<body>
    
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Ingrese la Placa" aria-label="Ingrese la Placa" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Modificar</button>
    </div>

</body>
</html>