@page
@model IndexModel
@{
    ViewData["Title"] = "Visionarios App";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Tranporte.App</h1>
    <p>Creado por <a href="#">Visionarios:</a>.</p>
    <p>Martha Martinez</p>
    <p>Brandon Penagos</p>
    <p>Jorge Bermudez</p>
    <p>Harold Santos</p>
</div>
