@page
@model IndexModel
@{
    ViewData["Title"] = "Visionarios App";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Tranporte.App</h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <p>::: Creado por el mejor Grupo de Mision TIC 2022 ::: </p>
    <p><a href="https://github.com/m4m0m4a1/Transport.App" target="_blank" >Repo Visionarios GitHub</a>.</p>
    <p><a href="https://github.com/users/m4m0m4a1/projects/2" target="_blank" >Repo Tablero Kanban Visionarios GitHub</a>.</p>
    <br/>
    <br/>
    <p>Para contrataciones y consulorias de C#</p>
    <br/>
    <p>Martha Martinez <a href="https://www.linkedin.com/in/martha-martinez-428a8b241/" target="_blank" >linkedin</a>.</p>
    <p>Brandon Penagos <a href="#">linkedin</a>.</p>
    <p>Jorge Bermudez  <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank" >linkedin</a>.</p>
    <p>Harold Santos  <a href="https://www.linkedin.com/in/harold-santos-6b9a79241/">linkedin</a>.</p>
</div>
